%h1 Form#new
%p Find me in app/views/form/new.html.haml

%p aqui estará el formulario inicial de la encuesta, reunirá el poll_header, el generador del codigo
poll_bodies y el group_fields que son los campos que dependen del roll que ejerces dento de la
instiucion.